.login{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}
.btn__login{
        width: 100%;
        letter-spacing: 2px;
        background-color: #e25454;       
        box-shadow: 0 0.2rem 0.4rem rgba(0,0,0,0.6);
        transition: transform 0.2s;
        backface-visibility: hidden;
        cursor: pointer;
        margin-top: -25%; 
        &:active{
            animation: moveUpDown 0.7s ease-out;
        }
}

.links{
    &:active{
            transform: scale(1.1);
            animation: moveUpDown 0.4s ease-out;
    }
}
.form-group:nth-child(2){
    margin-top: -15%;
}