.login-card--info{
    height: 300px;
    width:120%;
    font-size: 1.4rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: -10%;
}

.login-links{
    display: flex;
    justify-content: space-between;
    margin-top:-20%; 
}

.links{
    &:active{
            transform: scale(1.1);
            animation: moveUpDown 0.4s ease-out;
    }
}

.form-group:nth-child(2){
    margin-top: -15%;
}