.login-card--info{
    height: 420px;
    width:120%;
    font-size: 1.4rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: -10%;
}

.login-links{
    display: flex;
    justify-content: space-between;
    margin-top:-10%; 
}

.links{
    &:active{
            transform: scale(1.1);
            animation: moveUpDown 0.4s ease-out;
    }
}

.form-group:nth-child(2){
    margin-top: -15%;
}
.user-icon{
    height: 9.4rem;
    fill: transparent;
    stroke: white;
    stroke-width: 0.5px;
    position: absolute;
    left:-79%;
}
.circle{
    height:120px;
    width: 120px;
    border-radius: 50%;
    border: 2px solid white;
    align-self: center;
}
.align{
    position:relative;
}