@keyframes moveUpDown{
    0%{
        transform: translateY(-1px)
    }
    50%{
      transform: translateY(-3px)
    }
    100%{
        transform: translateY(0px)
    }
}
@keyframes movetoleft{
    0%{
      opacity: 0;
      transform: translateX(-2rem);
    }
    80%{
        transform: translateX(2rem)
    }
    100%{
        opacity: 1;
        transform: translateY(0)
    }
}
@keyframes movetoright{
    0%{
        opacity: 0;
        transform: translateX(2rem);
      }
      80%{
          transform: translateX(-2rem)
      }
      100%{
          opacity: 1;
          transform: translateY(0)
      }
}
.main{
    .btn{
        text-transform: uppercase;
        color:$color-base;
        border-radius: 100px;
        height:34px;
        line-height: 34px;
        text-align: center;
        outline: none;
        border: none;
        &__login{
            width: 100%;
            letter-spacing: 2px;
            background-color: $color-primary;       
            box-shadow: 0 0.2rem 0.4rem rgba(0,0,0,0.6);
            transition: transform 0.2s;
            backface-visibility: hidden;
            cursor: pointer;
            margin-top: -17%; 
            &:active{
                outline: none;
                animation: moveUpDown 0.7s ease-out;
            }
        }
    }
    
    .links{
        text-transform: capitalize;
        color:$color-base;
        text-decoration: none;
        font-size: 1.4rem;
        backface-visibility: hidden;
    }
    
    .formcontrol{
        height: 3.2rem;
        border:none;
        width: 96%;
        padding: .3rem;
        background-color: rgba($color-base,0.5); 
        font-size: 1.6rem;
        font-family: inherit;
        color:$color-text-dark-4;
        transition: all 0.2s;  
        border-radius: 2px;
        &::-webkit-input-placeholder {
            font-weight: 400;
            color:#555
        }
    }
    
    .formcontrol:focus{
        outline: none;
        border-bottom: 3px solid $color-primary;
        box-shadow: 0 0.4rem 0.8rem rgba(0,0,0,0.4)
    }
    .password__input:focus+.password-button {
        outline: none;
        border-bottom: 3px solid $color-primary;
    }
}


