/* You can add global styles to this file, and also import other style files */
.main{
    height: 100vh;
    background-image: linear-gradient( to right,
         rgba(0,0,0,0.6 ) , 
        rgba(0,0,0,0.3) ), 
    url("../../src/assets/image/loginp.jpg");
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.login-card{
    // background-image: linear-gradient( rgba(255,255,255, 0.4) , rgba(255,255,255, 0.4) );
    border-radius: 5px;
    height:450px;
    width:25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}




