<div class="login-page">
  <div class="login-card">
    <div class="login-card--info">
      <div class="circle align">
        <svg class="user-icon">
          <use xlink:href="../assets/image/sprite.svg#icon-user"></use>
        </svg>
      </div>
      <form #f='ngForm' (ngSubmit)="onSubmit(f)" class="form">
        <div class="form-group">
          <input type="email" class="formcontrol" [ngClass]="{'invalid-form':invalidForm}" placeholder="Username"
          name="email" ngModel required email>
        </div>        
        <button type="submit" routerLink='/'  class="btn btn__login btn-signup" >Reset Password</button>
      </form>
    </div>
  </div>
  <div class="login-text-area">
    <h1 class="primary-header">
      Pen down your memories with us
    </h1>
    <h4 class="secondary-header">
      The only possible journey is the one you never begin..
    </h4>
  </div>
