<div class="main">
  <router-outlet></router-outlet>
</div>

<div class="section center-align">
  <h1 class="heading-text">Document Your memories</h1>
  <div class="row">
    <div class="section">
      <div class="col s12 m4">
          <p class="light center flow-text">
            Bring all your fun, journey, experience , laughs and many more at one place. 
            This serves you as your online diary for every memory you want to mint down and share with your friends.
          </p>
      </div>
      <div class="col s12 m4 offset-m4">
        <svg class="icon-1">
          <use xlink:href="assets/image/sprite.svg#icon-emoji-happy"></use>
        </svg>
        <h4 class="h4">Post Photos</h4>
        <p class="light center">We have provided detailed documentation as well as specific code examples to help new
          users get started.</p>
      </div>
      
    </div>
  </div>
</div>


<div class="para1">
  <div class="caption">
    <span class="border parallax-text">Capture the moment of your day</span>
  </div>
</div>


<div class="section center-align">
  <h1>Explore With Us</h1>
  <div class="row">
    <div class="section">
      <div class="col s12 m4">
        <svg class="icon-1">
          <use xlink:href="assets/image/sprite.svg#icon-camera"></use>
        </svg>
        <h4 class="h4">Post Photos</h4>
        <p class="light center">We have provided detailed documentation as well as specific code examples to help new
          users get started.</p>
      </div>
      <div class="col s12 m4">
        <svg class="icon-1">
          <use xlink:href="assets/image/sprite.svg#icon-cake"></use>
        </svg>
        <h4 class="h4">A Common story</h4>
        <p class="light center">We have provided detailed documentation as well as specific code examples to help new
          users get started.</p>
      </div>
      <div class="col s12 m4">
        <svg class="icon-1">
          <use xlink:href="assets/image/sprite.svg#icon-heart"></use>
        </svg>
        <h4 class="h4">Pin your moments</h4>
        <p class="light center">We have provided detailed documentation as well as specific code examples to help new
          users get started.</p>
      </div>
    </div>
  </div>
</div>

<div class="para2">
  <div class="caption">
    <span class="border parallax-text">Or may be just the Reason for your smile</span>
  </div>
</div>

<div class="section center-align">
    <h1>Explore With Us</h1>
    <div class="row">
      <div class="section">
        <div class="col s12 m4">
          <svg class="icon-1">
            <use xlink:href="assets/image/sprite.svg#icon-user"></use>
          </svg>
          <h4 class="h4">Closed Groups</h4>
          <p class="light center">We have provided detailed documentation as well as specific code examples to help new
            users get started.</p>
        </div>
        <div class="col s12 m4">
          <svg class="icon-1">
            <use xlink:href="assets/image/sprite.svg#icon-camera"></use>
          </svg>
          <h4 class="h4"> Online Gallery</h4>
          <p class="light center">We have provided detailed documentation as well as specific code examples to help new
            users get started.</p>
        </div>
        <div class="col s12 m4">
          <svg class="icon-1">
            <use xlink:href="assets/image/sprite.svg#icon-drink"></use>
          </svg>
          <h4 class="h4">Travel Experience </h4>
          <p class="light center">We have provided detailed documentation as well as specific code examples to help new
            users get started.</p>
        </div>
      </div>
    </div>
  </div>

<div class="para3">
    <div class="caption">
      <span class="border parallax-text" >Or simply friends closer to your heart</span>
    </div>
</div>

<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Footer Content</h5>
          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
      