.section{
    padding: 3rem;
}
.icon-1{
    fill:#555;
    width: 120px;
}
p{
    font-size: 1.6rem
}
.para1,.para2,.para3{
    position: relative;
}
.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}
.footer{
    height: 200px;
    background-color: #555;
    
}
.parallax-text{
    background-color:transparent;
    font-size:25px;
    color: #f7f7f7;
    text-transform: uppercase;
}

.heading-text, h4{
    text-transform: uppercase;
}

.page-footer{
    background: #777;
    li, .footer-copyright{
        font-size: 1.6rem
    }
    
}