<div class="main">
  <router-outlet></router-outlet>
</div>

<div class="section center-align">
  <h1>Explore With Us</h1>
  <div class="row">
    <div class="section">
      <div class="col s12 m4">
        <svg class="icon-1">
          <use xlink:href="assets/image/sprite.svg#icon-camera"></use>
        </svg>
        <h2 class="h2">Post Photos</h2>
        <p class="light center">We have provided detailed documentation as well as specific code examples to help new
          users get started.</p>
      </div>
      <div class="col s12 m4">
        <svg class="icon-1">
          <use xlink:href="assets/image/sprite.svg#icon-globe"></use>
        </svg>
        <h2 class="h2">Share Photos</h2>
        <p class="light center">We have provided detailed documentation as well as specific code examples to help new
          users get started.</p>
      </div>
      <div class="col s12 m4">
        <svg class="icon-1">
          <use xlink:href="assets/image/sprite.svg#icon-heart"></use>
        </svg>
        <h2 class="h2">Follow Friends</h2>
        <p class="light center">We have provided detailed documentation as well as specific code examples to help new
          users get started.</p>
      </div>
    </div>
  </div>
</div>


<div class="para1">
  <div class="caption">
    <span class="border parallax-text">Capture the moment of your day</span>
  </div>
</div>


<div class="section center-align">
  <h1>Explore With Us</h1>
  <div class="row">
    <div class="section">
      <div class="col s12 m4">
        <svg class="icon-1">
          <use xlink:href="assets/image/sprite.svg#icon-camera"></use>
        </svg>
        <h2 class="h2">Post Photos</h2>
        <p class="light center">We have provided detailed documentation as well as specific code examples to help new
          users get started.</p>
      </div>
      <div class="col s12 m4">
        <svg class="icon-1">
          <use xlink:href="assets/image/sprite.svg#icon-globe"></use>
        </svg>
        <h2 class="h2">Share Photos</h2>
        <p class="light center">We have provided detailed documentation as well as specific code examples to help new
          users get started.</p>
      </div>
      <div class="col s12 m4">
        <svg class="icon-1">
          <use xlink:href="assets/image/sprite.svg#icon-heart"></use>
        </svg>
        <h2 class="h2">Follow Friends</h2>
        <p class="light center">We have provided detailed documentation as well as specific code examples to help new
          users get started.</p>
      </div>
    </div>
  </div>
</div>

<div class="para2">
  <div class="caption">
    <span class="border parallax-text">Or may be just the Reason for your smile</span>
  </div>
</div>

<div class="section center-align">
    <h1>Explore With Us</h1>
    <div class="row">
      <div class="section">
        <div class="col s12 m4">
          <svg class="icon-1">
            <use xlink:href="assets/image/sprite.svg#icon-camera"></use>
          </svg>
          <h2 class="h2">Post Photos</h2>
          <p class="light center">We have provided detailed documentation as well as specific code examples to help new
            users get started.</p>
        </div>
        <div class="col s12 m4">
          <svg class="icon-1">
            <use xlink:href="assets/image/sprite.svg#icon-globe"></use>
          </svg>
          <h2 class="h2">Share Photos</h2>
          <p class="light center">We have provided detailed documentation as well as specific code examples to help new
            users get started.</p>
        </div>
        <div class="col s12 m4">
          <svg class="icon-1">
            <use xlink:href="assets/image/sprite.svg#icon-heart"></use>
          </svg>
          <h2 class="h2">Follow Friends</h2>
          <p class="light center">We have provided detailed documentation as well as specific code examples to help new
            users get started.</p>
        </div>
      </div>
    </div>
  </div>

<div class="para3">
    <div class="caption">
      <span class="border parallax-text" >Or simply friends closer to your heart</span>
    </div>
</div>

<footer class="footer"></footer>