<!-- <div class="main">
  
    <app-login-page></app-login-page>
  
</div> -->
<div class="resume">
  <div class="resume--banner">
  </div>
  <div class="resume--header">
    <div class="base-info">
      <h1>
        Sumit Mishra
      </h1>
      <h4 class="sub-heading1">
        <em>Designation: Senior Software Engineer</em>
      </h4>
      <h4 class="sub-heading2">
        <em>Profile: UI Developer</em>
      </h4>
    </div>
    <div class="summary">
      <summary>
        A thorough profession in the field of UI development. A job that matches not only
        my skills but passion as well. Expanding my horizon of knowledge and adding quality
        to my work everyday. I would like to see myself working in this field hoping for great
        opprtunities to explore and utilize my skills to it's best.
      </summary>
    </div>
  </div>
  <div class="main-area">
    <aside class="left">
      <div class="personal-info">
        <h2 class="title">Personal Info</h2>
        <hr>
        <h4>Address</h4>
        <span>103, Gokul Dwarka Apartment, Gayatri Nagar, Nagpur, 440022, Maharashtra</span>
        <h4>Phone</h4>
        <span>+91-7059665106</span>
        <h4>E-mail</h4>
        <span>mishrasumit042@gmail.com</span>
        <h4>Date Of Birth</h4>
        <span>04-02-1993</span>
        <h4>Linked in Profile</h4>
        <span>Sumit04@linked.in</span>
        <h4>Github Account</h4>
        <span>https://github.com/sumitmishra04/</span>
      </div>
      <div class="skills">
        <h2 class="title">Skills</h2>
        <hr>
        <div class="row">
          <div class="tech">Angular 5, 6</div>
          <div class="rating">
            <span class="mark"></span><span class="mark"></span><span class="mark"></span><span class="mark"></span>
            <span class="unmark"></span>
          </div>
        </div>
        <div class="row">
          <div class="tech">CSS 3</div>
          <div class="rating"><span class="mark"></span><span class="mark"></span><span class="mark"></span><span class="mark"></span>
            <span class="unmark"></span>
          </div>
        </div>
        <div class="row">
          <div class="tech">HTML 5</div>
          <div class="rating"><span class="mark"></span><span class="mark"></span><span class="mark"></span><span class="mark"></span>
            <span class="unmark"></span>
          </div>
        </div>
        <div class="row">
          <div class="tech">Bootstrap 3</div>
          <div class="rating"><span class="mark"></span><span class="mark"></span><span class="mark"></span><span class="mark"></span>
            <span class="mark"></span>
          </div>
        </div>
        <div class="row">
          <div class="tech">Javascript (es5 & es6)</div>
          <div class="rating"><span class="mark"></span><span class="mark"></span><span class="mark"></span><span class="mark"></span>
            <span class="unmark"></span>
          </div>
        </div>
        <div class="row">
          <div class="tech">Angular Material</div>
          <div class="rating"><span class="mark"></span><span class="mark"></span><span class="mark"></span><span class="unmark"></span>
            <span class="unmark"></span>
          </div>
        </div>
        <div class="row">
          <div class="tech">Kendo for Angular</div>
          <div class="rating"><span class="mark"></span><span class="mark"></span><span class="mark"></span><span class="mark"></span>
            <span class="unmark"></span>
          </div>
        </div>
        <div class="row">
          <div class="tech">SQL Server</div>
          <div class="rating"><span class="mark"></span><span class="mark"></span><span class="mark"></span><span class="mark"></span>
            <span class="unmark"></span>
          </div>
        </div>
        <div class="row">
          <div class="tech">Asp .Net</div>
          <div class="rating"><span class="mark"></span><span class="mark"></span><span class="mark">

            </span><span class="unmark"></span>
            <span class="unmark"></span>
          </div>
        </div>
        <div class="row">
          <div class="tech">D3.js</div>
          <div class="rating"><span class="mark"></span><span class="mark"></span>
            <span class="mark"></span><span class="unmark"></span>
            <span class="unmark"></span>
          </div>
        </div>
        <div class="row">
          <div class="tech">Jquery</div>
          <div class="rating"><span class="mark"></span><span class="mark"></span>
            <span class="mark"></span><span class="mark"></span>
            <span class="unmark"></span>
          </div>
        </div>
        <div class="row">
          <div class="tech">Jquery</div>
          <div class="rating"><span class="mark"></span><span class="mark"></span>
            <span class="mark"></span><span class="mark"></span>
            <span class="unmark"></span>
          </div>
        </div>
      </div>

    </aside>
    <div>
            <div class="right">
                    <span class="tri"></span>
                    <h2 class="title">Experience</h2>
                    <hr>
                    <div class="experience">
                      <div class="period">
                        2017-Jan - 2018-Mar
                      </div>
                      <div class="description">
                        <h2 class="header">Support & development engineer</h2>
                        <em class="sub-header">Persistent Systems Ltd </em>
                        <div class="list">
                          <ul>
                            <li>Worked in loyalty domain as a dot net developer</li>
                            <li>Was responsible for enhancement and support of applications under my ownership</li>
                            <li>Handled all client communications for any task under my belt </li>
                          </ul>
                        </div>
              
                      </div>
                    </div>
                    <div class="experience">
                      <div class="period">
                        2018-Apr - Present
                      </div>
                      <div class="description">
                        <h2 class="header">UI Developer</h2>
                        <em class="sub-header">Persistent Systems Ltd </em>
                        <div class="list">
                          <ul>
                            <li>Work in Ul intensive project as a Ui developer </li>
                            <li>Managing client communications for FSD collaboration with UX team for UI features</li>
                            <li>Development of components, services and templates and writing test cases </li>
                            <li>Enhancing performance of the application </li>
                            <li>Working in latest technologies Education</li>
                            <li>Enhancing performance of the application </li>
                            <li>Working in latest technologies Education</li>
                          </ul>
                        </div>
              
                      </div>
                    </div>
                    <div class="edu">
                      <span class="tri"></span>
                      <h2 class="title">Education</h2>
                      <hr>
              
                      <div class="experience">
                        <div class="period">
                          2012-Aug - 2016-Jun
                        </div>
                        <div class="description">
                          <h2 class="header">GCELT</h2>
                          <div class="list">
                            <ul>
                              <li>MAKAUT University</li>
                              <li>8.69 CGPA</li>
              
                            </ul>
                          </div>
              
                        </div>
                      </div>
                      <div class="experience">
                        <div class="period">
                          2009-Jun - 2011-Jul
                        </div>
                        <div class="description">
                          <h2 class="header">MCKV</h2>
                          <div class="list">
                            <ul>
                              <li>ISC</li>
                              <li>81%</li>
              
                            </ul>
                          </div>
              
                        </div>
                      </div>
                      <div class="experience">
                        <div class="period">
                          2008-Apr - 2009-May
                        </div>
                        <div class="description">
                          <h2 class="header">Pearls Of God</h2>
                          <div class="list">
                            <ul>
                              <li>ICSE</li>
                              <li>88%</li>
                            </ul>
                          </div>
              
                        </div>
                      </div>
                    </div>
              
                    <div class="edu">
                      <span class="tri"></span>
                      <h2 class="title">Achievements</h2>
                      <hr>
              
                      <div class="experience">
                        <div class="list award">
                          <ul>
                            <li>May : You Got It Badge From Senior Manager</li>
                            <li>Sep: Quick Learner </li>
                            <li>Oct: Good Work In Feature Deliverables</li>
                          </ul>
                        </div>
              
                      </div>
                    </div>
                    
                  </div>
                  <div class="bottom--banner">
                  </div>
    </div>
    

  </div>
</div>
