.main{
    height: 100vh;
    background-image: linear-gradient( to bottom, rgba(0,0,0, 0.3) , rgba(0,0,0, 0.7) ), url("/assets/image/signinpage.jpg");
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card__login{
    height:450px;
    width:25vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
