@import "variables";
.theme-default {
    @import "../common-styles/common-styles.scss";

}
*, *::after, *::before{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 62.5%;
    font-weight: 400;
    line-height: 1.4;
    color:#777;
    height: 100%;
}